// Variables para colores
$color-azul: rgba(43, 48, 92);
$color-blanco: #FFFFFF;
$color-amarillo-claro: #F2C464;

// Tamaños y fuentes
$font-size-header: 1.2rem;
$font-size-body: 0.9rem;
$font-size-temp: 3.5rem;
$font-size-small: 0.85rem;
$height-logo-and-card: 190px;